footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: poppins;
    font-size: 1.3rem;
    font-weight: 300;
    height: 4rem;
}